In [1]:

import pandas as pd

train = pd.read_csv('train.csv')

train.head()

           DateTime  Junction  Vehicles           ID
0  01-11-2015 00:00         1        15  20151101001
1  01-11-2015 01:00         1        13  20151101011
2  01-11-2015 02:00         1        10  20151101021
3  01-11-2015 03:00         1         7  20151101031
4  01-11-2015 04:00         1         9  20151101041

In [2]:
def get_dom(dt):
	return dt.day

# get week day
def get_weekday(dt):
	return dt.weekday()

# get hour
def get_hour(dt):
	return dt.hour

# get year
def get_year(dt):
	return dt.year

# get month
def get_month(dt):
	return dt.month

# get year day
def get_dayofyear(dt):
	return dt.dayofyear

# get year week
def get_weekofyear(dt):
	return dt.weekofyear


train['DateTime'] = train['DateTime'].map(pd.to_datetime)
train['date'] = train['DateTime'].map(get_dom)
train['weekday'] = train['DateTime'].map(get_weekday)
train['hour'] = train['DateTime'].map(get_hour)
train['month'] = train['DateTime'].map(get_month)
train['year'] = train['DateTime'].map(get_year)
train['dayofyear'] = train['DateTime'].map(get_dayofyear)
train['weekofyear'] = train['DateTime'].map(get_weekofyear)

# display
train.head()

,DateTime,Junction,Vehicles,ID,date,weekday,hour,month,year,dayofyear,weekofyear
0,2015-01-11 00:00:00,1,15,20151101001,11,6,0,1,2015,11,2
1,2015-01-11 01:00:00,1,13,20151101011,11,6,1,1,2015,11,2
2,2015-01-11 02:00:00,1,10,20151101021,11,6,2,1,2015,11,2
3,2015-01-11 03:00:00,1,7,20151101031,11,6,3,1,2015,11,2
4,2015-01-11 04:00:00,1,9,20151101041,11,6,4,1,2015,11,2

In [3]:

train = train.drop(['DateTime'], axis=1)
train = train.drop(['Junction'], axis=1)
train = train.drop(['ID'], axis=1)
# separating class label for training the data
train1 = train.drop(['Vehicles'], axis=1)

# class label is stored in target
target = train['Vehicles']

print(train1.head())
target.head()

   date  weekday  hour  month  year  dayofyear  weekofyear
0    11        6     0      1  2015         11           2
1    11        6     1      1  2015         11           2
2    11        6     2      1  2015         11           2
3    11        6     3      1  2015         11           2
4    11        6     4      1  2015         11           2

0    15
1    13
2    10
3     7
4     9
Name: Vehicles, dtype: int64

In [4]:
#importing Random forest
from sklearn.ensemble import RandomForestRegressor

#defining the RandomForestRegressor
m1=RandomForestRegressor()

m1.fit(train1,target)
filename = 'finalized_model.sav'
pickle.dump(m1, open(filename, 'wb'))

NameError: name 'pickle' is not defined

In [5]:
from sklearn import model_selection
filename = 'finalized_model.sav'
pickle.dump(m1, open(filename, 'wb'))

NameError: name 'pickle' is not defined