In [1]:
import pandas as pd
train = pd.read_csv('JUN 1 15.csv')

In [2]:
train.head()

           DateTime  Junction  Vehicles           ID
0  01-01-2016 00:00         1        13  20160101001
1  01-01-2016 01:00         1        13  20160101011
2  01-01-2016 02:00         1        11  20160101021
3  01-01-2016 03:00         1         6  20160101031
4  01-01-2016 04:00         1         8  20160101041

In [3]:
train = train.drop(['Junction'],axis=1)
train = train.drop(['ID'],axis=1)
train.head()

           DateTime  Vehicles
0  01-01-2016 00:00        13
1  01-01-2016 01:00        13
2  01-01-2016 02:00        11
3  01-01-2016 03:00         6
4  01-01-2016 04:00         8

In [4]:
# function to get all data from time stamp

# get date
def get_dom(dt):
	return dt.day

# get week day
def get_weekday(dt):
	return dt.weekday()

# get hour
def get_hour(dt):
	return dt.hour

# get year
def get_year(dt):
	return dt.year

# get month
def get_month(dt):
	return dt.month

# get year day
def get_dayofyear(dt):
	return dt.dayofyear

# get year week
def get_weekofyear(dt):
	return dt.weekofyear


train['DateTime'] = train['DateTime'].map(pd.to_datetime)
train['date'] = train['DateTime'].map(get_dom)
train['weekday'] = train['DateTime'].map(get_weekday)
train['hour'] = train['DateTime'].map(get_hour)
train['month'] = train['DateTime'].map(get_month)
train['year'] = train['DateTime'].map(get_year)
train['dayofyear'] = train['DateTime'].map(get_dayofyear)
train['weekofyear'] = train['DateTime'].map(get_weekofyear)

# display
train.head()

,DateTime,Vehicles,date,weekday,hour,month,year,dayofyear,weekofyear
0,2016-01-01 00:00:00,13,1,4,0,1,2016,1,53
1,2016-01-01 01:00:00,13,1,4,1,1,2016,1,53
2,2016-01-01 02:00:00,11,1,4,2,1,2016,1,53
3,2016-01-01 03:00:00,6,1,4,3,1,2016,1,53
4,2016-01-01 04:00:00,8,1,4,4,1,2016,1,53

In [5]:
# there is no use of DateTime module
# so remove it
train = train.drop(['DateTime'], axis=1)

# separating class label for training the data
train1 = train.drop(['Vehicles'], axis=1)

# class label is stored in target
target = train['Vehicles']

print(train1.head())
target.head()

   date  weekday  hour  month  year  dayofyear  weekofyear
0     1        4     0      1  2016          1          53
1     1        4     1      1  2016          1          53
2     1        4     2      1  2016          1          53
3     1        4     3      1  2016          1          53
4     1        4     4      1  2016          1          53

0    13
1    13
2    11
3     6
4     8
Name: Vehicles, dtype: int64

In [6]:
train1 = train1.drop(['year'],axis =1)
train1.head()

   date  weekday  hour  month  dayofyear  weekofyear
0     1        4     0      1          1          53
1     1        4     1      1          1          53
2     1        4     2      1          1          53
3     1        4     3      1          1          53
4     1        4     4      1          1          53

In [7]:
#importing Random forest
from sklearn.ensemble import RandomForestRegressor

#defining the RandomForestRegressor
m1=RandomForestRegressor()

m1.fit(train1,target)
#testing
m1.predict([[1,4,0,1,1,53]])

array([15.29])

In [2]:
from datetime import datetime
dt=datetime.now()
print(dt)

2022-03-15 10:04:03.694336